<form method="post">
    <input type="type" name="username" placeholder="username" />
    <br />
    <input type="type" name="password" placeholder="password" />
    <br />
    <button class="btn btn-primary" type="submit">Submit</button>
</form>